{% set classes = [
  'view',
  'view-' ~ id|clean_class,
  'view-id-' ~ id,
  'view-display-id-' ~ display_id,
  dom_id ? 'js-view-dom-id-' ~ dom_id,
] %}
<div{{ attributes.addClass(classes) }}>
  <div class="c-listing__inner o-container">
    {{ title_prefix }}
    {% if title %}
      {{ title }}
    {% endif %}
    {{ title_suffix }}

    {% if attachment_before %}
      <div class="c-listing__attachment c-listing__attachment-before">
        {{ attachment_before }}
      </div>
    {% endif %}

    <div class="c-listing__filters js-filters">
      {{ exposed }}
    </div>

    {% set has_padding_top = (header is not empty or exposed['#sorters'] is not empty) %}
    <div class="c-listing__content">
      {% if header is not empty %}
        <div class="c-listing__results-count">
          {{ header }}
        </div>
      {% endif %}
      {% if rows %}
        <div class="c-listing__items">
          {{ rows }}
        </div>
        {% if pager %}
          {{ pager }}
        {% endif %}
      {% elseif empty %}

        <div class="c-listing__empty">
          <div class="c-listing__empty-inner o-content-from-editor">
            {% if site_settings.search_settings.search_settings.field_no_results_title is not empty %}
              <h3>{{ site_settings.search_settings.search_settings.field_no_results_title }}</h3>
            {% endif %}

            {% if site_settings.search_settings.search_settings.field_no_results_text.value|raw is not empty %}
              <p>{{ site_settings.search_settings.search_settings.field_no_results_text.value|raw }}</p>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>

    {% if attachment_after %}
      <div class="c-listing__attachment c-listing__attachment-after">
        {{ attachment_after }}
      </div>
    {% endif %}
    {% if more %}
      {{ more }}
    {% endif %}
    {% if footer %}
      <div class="c-listing__footer">
        {{ footer }}
      </div>
    {% endif %}
    {% if feed_icons %}
      <div class="c-listing__feed-icons">
        {{ feed_icons }}
      </div>
    {% endif %}
  </div>
</div>
