{% set classes = [
  'c-card',
  'c-card--' ~ size|default('one-third')
] %}
<article{{ attributes.addClass(classes) }}>
  <a class="c-card__link" href="{{ url }}">

    {% if image|render|striptags is not empty %}
      <div class="c-card__image-wrapper">
        {{ image }}
      </div>
    {% endif %}

    <div class="c-card__content">
      {% if type_label|render|striptags is not empty or (access is not empty and access=='Locked content') %}
        <div class="c-card__meta-container">
          {% if type_label|render|striptags is not empty %}
            <span class="c-card__meta">{{ type_label }}</span>
          {% endif %}

          {% if access is not empty and access=='Locked content' %}
            <span class="c-card__meta c-card__meta--icon">
            {% include '@greenhydrogen/svg/svg.html.twig' with {'svg': 'lock-icon','extra_class': 'c-card__lock-icon'} %}
          </span>
          {% endif %}
        </div>
      {% endif %}
      {% if pre_title|render|striptags is not empty %}
        <p class="c-card__pre-title">{{ pre_title|render|striptags }}</p>
      {% endif %}

      <h3 class="c-card__title">
        <span class="c-card__title-text">{{ title|render|striptags }}</span>
      </h3>

      {% if description is not empty and image|render|striptags is empty %}
        <p class="c-card__description">{{ description }}</p>
      {% endif %}

      {% if date_output|render|striptags is not empty %}
        <div class="c-card__date">{{ date_output }}</div>
      {% endif %}
    </div>
  </a>
</article>
