{% set standfirst = content.field_standfirst|render %}
{% set authors = content.field_authors|render %}
{% set date = content.field_published_date|render %}
{% set links = content.field_links|render %}
{% set downloads = content.field_downloads|render %}
{% set image = content.field_image|render %}
{% set image_caption = content.field_featured_image_caption|render %}
<header class="c-single-header {{ extra_classes }}">
  {{ content.field_banner_image }}

  <div class="o-container">
    <div class="c-single-header__inner">
      <div class="c-single-header__content">
        <span class="c-single-header__post-type">{{ content.field_type|render|striptags|trim }}</span>

        <h1 class="c-single-header__title">{{ label|render|striptags|trim }}</h1>

        {% if standfirst is not empty %}
          <div class="c-single-header__description">
            {{ standfirst }}
          </div>
        {% endif %}

        {% if authors is not empty and date is not empty %}
          <div class="c-single-header__meta-container">
            {% if date is not empty %}
              <div class="c-single-header__meta">
                {{ date }}
              </div>
            {% endif %}
            {% if authors is not empty %}
              <div class="c-single-header__meta c-single-header__meta--authors">
                {{ content.field_authors }}
              </div>
            {% endif %}
          </div>
        {% endif %}

        {% if links is not empty %}
          <div class="c-single-header__links-container">
            {{ links }}
          </div>
        {% endif %}

        {% if downloads is not empty %}
          <div class="c-single-header__meta-container">
            {{ downloads }}
          </div>
        {% endif %}
      </div>

      {% if image is not empty %}
        <div class="c-single-header__image-container">
          {{ image }}
        </div>

        {% if image_caption is not empty %}
          <div class="c-single-header__image-caption">
            {{ image_caption }}
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
</header>
