{% if content.field_banner_image[0] is empty %}
  {% set extra_classes = 'c-banner--no-image' %}
{% endif %}

<header class="c-banner {{ extra_classes }}">
  <div class="c-banner__wrapper">
  {% if has_video_id %}
    {{ attach_library('greenhydrogen/hero-video') }}
    <div class="c-banner__video-wrapper">
      <div class="c-banner__video js-video-container" data-youtube-id="{{ youtube_video_id }}" id="js-player">
      </div>
    </div>
  {% endif %}

  {% if content.field_banner_image|render is not empty %}
    {{ content.field_banner_image }}
  {% endif %}

  <div class="c-banner__container o-container">
    <div class="c-banner__inner">
      <h1 class="c-banner__title">{{ content.field_banner_title }}</h1>
      <h2 class="u-accessible-hide">{{ label }}</h2>
      {% if content.field_banner_link.0['#url'] is not empty and content.field_banner_link.0['#title'] is not empty %}
        <a class="c-banner__link" href="{{ content.field_banner_link.0['#url'] }}" title="{{ content.field_banner_link.0['#title'] }}">
          {{ content.field_banner_link.0['#title'] }}
        </a>
      {% endif %}
    </div>
  </div>
    {% if content.field_featured_image_caption is not empty %}
      <div class="c-banner__ticker-info">
        {{ content.field_featured_image_caption }}
      </div>
    {% endif %}
  </div>
    {% if (ticker_data is not empty and content.field_show_ticker_data['#items'].value) or (content.field_manual_ticker_items is not empty and content.field_show_ticker_data['#items'].value) %}

      {% if content.field_manual_ticker_items|render is not empty %}
        {% set animation_duration = content.field_manual_ticker_items|field_value|length * 5 %}
        {% set transform = content.field_manual_ticker_items|field_value|length * 50 %}
        <div class="c-ticker">
          <div class="c-ticker__wrapper" style="animation-duration: {{ animation_duration }}s; --transform: -{{ transform }}%;">
          {{ content.field_manual_ticker_items }}
          </div>
        </div>
      {% elseif ticker_data is not empty %}
        {% set animation_duration = ticker_data|length * 5 %}
        {% set transform = ticker_data|length * 50 %}
        <div class="c-ticker">
          <div class="c-ticker__wrapper" style="animation-duration: {{ animation_duration }}s; --transform: -{{ transform }}%;">
            {% for data_item in ticker_data %}
              <p class="c-ticker__data-item">
                {{ data_item }}
              </p>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
</header>
