{% set classes = [
  'o-section',
  'o-section--text-block',
  'c-text-block',
] %}

{% if content is not empty %}
	<section{{attributes.addClass(classes)}} data-title="{{content.field_title}}">
			<div class="o-container">
				<div class="c-text-block__content country-text-block o-content-from-editor">
					<h3>
						{{ content.field_title }}
					</h3>
					<p>
						{{ content.field_body }}
					</p>
					<p>
						{{ content.field_infographic }}
					</p>
				</div>
			</div>
	{# {% endif %} #}
		</section>

{% endif %}
