{% set classes = [
  'c-node',
  'c-node--type-' ~ node.bundle|clean_class,
] %}

<article{{ attributes.addClass(classes) }}>
  {% include 'node--page-header.html.twig' %}
  <div class="c-page-header__flag">
    <div class="country-flag">
    {{ content.field_country_flag }}
    </div>
    <div class="country-name">
    {% if content.field_country is not empty %}
      GH2 Country Portal – {{ content.field_country }}
    {% else %}
      GH2 Country Portal 
    {% endif %}

  </div>
  </div>
  {# <div class="c-page-header__content-container o-container">
    <div class="c-page-header__inner">
      <div class="c-page-header__content">
        <h1 class="c-page-header__title">{{ content.body }}</h1>
      </div>
    </div>
  </div> #}
  {{ content.field_text_block }}
  {{ content.field_quantitative_data }}
</article>
