{% set classes = [
  'c-person-card',
] %}
{% set job_title = content.field_job_title|render|striptags|trim %}
{% set organisation = content.field_organisation|render|striptags|trim %}
{% set email = content.field_email %}
<article{{attributes.addClass(classes)}}>

	<div class="c-person-card__image-container {{ content.field_link[0]['#url'] ? 'haslink' : '' }} {{ content.field_website[0]['#url'] ? 'haslink' : '' }}">
		{% if content.field_link[0]['#url'] is not empty %}
			<a class="c-person-card__link" href="{{ content.field_link[0]['#url'] }}">
				{% if content.field_image|render is not empty %}
					{{ content.field_image }}
				{% endif %}
				{% include '@greenhydrogen/svg/link.html.twig' %}
			</a>
		{% elseif content.field_website[0]['#url'] is not empty %}
			<a class="c-person-card__link" href="{{ content.field_website[0]['#url'] }}">
				{% if content.field_image|render is not empty %}
					{{ content.field_image }}
				{% endif %}
				{% include '@greenhydrogen/svg/link.html.twig' %}
			</a>
		{% else %}
			{% if content.field_image|render is not empty %}
				{{ content.field_image }}
			{% endif %}
		{% endif %}
	</div>

	<h2 class="c-person-card__name">
		{{ label }}
	</h2>

	{% if job_title is not empty or organisation is not empty or email is not empty %}
		<div class="c-person-card__meta-container">
			{% if job_title is not empty %}
				<p class="c-person-card__meta">
					{{ job_title }}
				</p>
			{% endif %}

			{% if organisation is not empty %}
				<p class="c-person-card__meta">
					{{ organisation }}
				</p>
			{% endif %}

			{% if email is not empty %}
				<p class="c-person-card__meta">
					{{ email }}
				</p>
			{% endif %}
			{% if content.field_website is not empty %}
				<p class="c-person-card__meta c-person-card__website">
          <a href="{{ content.field_website[0]['#url'] }}">{{ content.field_website[0]['#title'] }}</a>
				</p>
			{% endif %}
			{% if content.field_show_link_in_details['#items'].value and content.field_link[0]['#url'] is not empty %}
				<p class="c-person-card__meta c-person-card__website">
          <a href="{{ content.field_link[0]['#url'] }}">Readmore ... </a>
				</p>
			{% endif %}
		</div>
	{% endif %}
</article>
