{# Page without any node inside #}
{{ page['pre-header'] }}

{{ page.header }}

{# Non menu contents wrapper for when responsive nav is open #}
<main role="main">
  <a id="main-content" tabindex="-1"></a>
  {% include '@greenhydrogen/node-partials/node--page-header.html.twig' with {
    'label' : site_settings.search_settings.search_settings.field_search_title,
    'standfirst' : site_settings.search_settings.search_settings.field_standfirst.value|render|raw
  } %}
  {{ site_settings.search_settings.search_settings.field_standfirst }}

  {{ page.content }}
</main>

{% if page.footer %}
  {{ page.footer }}
{% endif %}
