{{ attach_library('greenhydrogen/login-page') }}

<main role="main">
  <a id="main-content" tabindex="-1"></a>

  <div class="c-blocker">
    <div class="c-blocker__container">
      <button class="c-blocker__close js-close">
        {% include '@greenhydrogen/svg/svg.html.twig' with {'svg': 'close-icon'} %}
      </button>

      <div class="c-blocker__inner">
        <div class="c-blocker__lock-icon-wrapper">
          {% include '@greenhydrogen/svg/svg.html.twig' with {'svg': 'lock-icon', 'extra_class' : 'c-blocker__lock-icon' } %}
        </div>

        <h1 class="c-blocker__title">
          {{ site_settings.locked_content.blocker_page.field_title }}
        </h1>

        <a class="c-blocker__login-button" href="{{ site_settings.locked_content.blocker_page.field_link.url }}">{{ site_settings.locked_content.blocker_page.field_link.title }}</a>

        <div class="c-blocker__description">
          {{ site_settings.locked_content.blocker_page.field_description.value|raw }}
        </div>

        <button class="c-blocker__go-back js-go-back">
          Go back
        </button>
      </div>
    </div>
  </div>
</main>
