<!--- main content-->
<main>

	<section id="elus-header" class="fix-white-shadow ">
		<div class="container-fluid  ">
			<div class="row">
				<div class="col-md-8">
					{% set image_url = "" %}
					{% if node.field_image.entity.uri.value %}
						{% set image_url = node.field_image.entity.uri.value %}
						
					{% elseif node.field_beneficiaires.entity %}
						{% set beneficiaries = node.field_beneficiaires.entity %}
						{% if beneficiaries.field_image.entity.uri.value %}
							{% set image_url = beneficiaries.field_image.entity.uri.value %}
						{% endif %}
					{% endif %}
				<div class="elus-head d-flex align-items-end elus-head-course" style="background-image: url('{{ file_url(image_url) }}')">
						<div class="row ">
							<div class="col-md-7 ">
								<h2>
									{{ node.label }}
									{# {% if node.field_description.entity.field_titre_de_la_description.value %}
																																																																																										{{ node.field_description.entity.field_titre_de_la_description.value }}
																																																																																									{% endif %} #}
								</h2>

								<div class="review-block">
									<span class="badge-blue">
										{% if node.field_categorie_formation.entity %}
											{% set term = node.field_categorie_formation.entity %}
											{{ term.name.value }}
										{% endif %}
									</span>
									<div class=" rating-block  pt-3 pb-3">
										<strong>
											{% if node.field_taux_de_satisfaction.value %}
												{{ node.field_taux_de_satisfaction.value }}
											{% endif %}
										</strong>
										<div>
											{% set rate = node.field_taux_de_satisfaction.value|default(0) %}
											{# Ensure rate is set, default to 0 if empty #}

											{% for i in 1..rate %}
												<span>
													<img src="/{{ directory }}/assets/images/Star.svg" alt="Star"></span>
											{% endfor %}

										</div>
										{# TODO:: ADDING FIELD #}
										<p>
											(120 avis)
										</p>
									</div>
								</div>
								<p>
									{% if node.field_description.entity.field_texte_decriptif.value %}
										{{ node.field_description.entity.field_texte_decriptif.value|slice(0, 100) }}
									{% endif %}
								</p>
							</div>

						</div>
					</div>

					<div class="tags-block  d-flex gap-3 pt-3 pb-3">
						<a href="#Objectifs-de-la-Formation" class="active">
							<span>
								Objectifs de la Formation
							</span>
						</a>
						<a href="#programme-de-formation">
							<span>
								Programme de formation
							</span>
						</a>
						<a href="#Bénéficiaires-et-Exigences">
							<span>
								Bénéficiaires et Exigences
							</span>
						</a>
						<a href="#Équipe-et-Évaluation">
							<span>
								Équipe et Évaluation
							</span>
						</a>
						<a href="#Certification">
							<span>
								Certification
							</span>
						</a>
					</div>

					<div class="pt-4 pb-4">
						<p>
							{{ content.field_description }}
						</p>
						{{ content.field_objectifs_de_la_formation }}
						
						<hr/>

						<div class="row">

							{{ content.field_beneficiaires }}
							{{ content.field_programme_de_formation }}


							<hr/>
							<h4 class="text-blue" id="Bénéficiaires-et-Exigences">
								Méthodes d'Évaluation
							</h4>
							{{ content.field_methodes_d_evaluation }}


							<hr/>
							{{ content.field_nos_experts }}
							{{ content.field_ressources_techniques }}


							<hr/>
							{{ content.field_certifications }}
						</div>
					</div>

					<div class="col-md-4">
						<div class="bg-blue contact-block-info pre-register-block  course-info-block">

							<div class="info-formation-block">

								<div class="info-formation-block-item">
									<span>
										Type de formation
									</span>
									<p>
										{% if node.field_type_de_formation.entity %}
											{% set term = node.field_type_de_formation.entity %}
											{{ term.name.value }}
										{% endif %}
									</p>

								</div>

								<div class="info-formation-block-item">
									<span>
										Accessible
									</span>
									<p>
										{% if node.field_accessible.value == '1' %}
											Oui
										{% else %}
											Non
										{% endif %}
									</p>

								</div>

								<div class="info-formation-block-item">
									<span>
										Durée
									</span>
									<p>
										{% if node.field_duree.value %}
											{{ node.field_duree.value }}
											heures (
											{{ node.field_duree.value ? ((node.field_duree.value|number_format // 7) | round) : 0 }}
											jours)
										{% endif %}
									</p>

								</div>
							</div>
							{# TODO:: ADDING FIELD #}
							<div class="d-flex gap-3  pt-2 pb-2">
								{% for item in node.field_badges %}
								<span class="{{ loop.index > 1 ? 'badge-white' : 'badge-green' }}">
									{{ item.value }}
								</span>
								{% endfor %}
							</div>

							<strong>
								{% if node.field_prix.value %}
									{{node.field_prix.value}}<sub>€</sub>
								{% endif %}
							</strong>
								<div class="action-btn pt-2 pb-2">
									<a href="/inscription" class="btn btn-secondary w-100 mb-2">
										Inscription
									</a>
									<a href="#" class="btn btn-green w-100">
										<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewbox="0 0 28 28" fill="none">
											<circle cx="14" cy="14" r="14" fill="white"/>
											<path fill-rule="evenodd" clip-rule="evenodd" d="M11 9.5C9.89543 9.5 9 10.3954 9 11.5V16.5C9 17.6046 9.89543 18.5 11 18.5H17C18.1046 18.5 19 17.6046 19 16.5V11.5C19 10.3954 18.1046 9.5 17 9.5H11ZM11.208 11.688C11.0357 11.5731 10.8029 11.6196 10.688 11.792C10.5731 11.9643 10.6197 12.1971 10.792 12.312L12.6826 13.5724C13.4804 14.1042 14.5197 14.1042 15.3174 13.5724L17.208 12.312C17.3803 12.1971 17.4269 11.9643 17.312 11.792C17.1971 11.6196 16.9643 11.5731 16.792 11.688L14.9014 12.9484C14.3556 13.3123 13.6445 13.3123 13.0986 12.9484L11.208 11.688Z" fill="#96AE41"/>
										</svg>
										Prendre rendez-vous
									</a>
								</div>
								<p class="footer-course">
									Training created on {{ node.created.value|date("m/d/Y") }}.
									Last update on {{ node.changed.value|date("m/d/Y") }}.
									<br/>
									{# TODO:: ADDING FIELD #}
									Programme version: 2
								</p>

							</div>

							<div class="formation-info pt-4">
								<div class="formation-info-item">
									<img src="/{{ directory }}/assets/images/f-icon1.svg">
									<div>
										<strong>
											Prochaines sessions
										</strong>
										{{ content.field_prochaines_sessions_dates }}

									</div>
								</div>

								<div class="formation-info-item">
									<img src="/{{ directory }}/assets/images/f-icon2.svg">
									<div>
										<strong>
											Délai de connexion
										</strong>
										<p>
											{{ content.field_delai_de_connexion }}
										</p>
									</div>
								</div>

								<div class="formation-info-item">
									<img src="/{{ directory }}/assets/images/f-icon3.svg">
									<div>
										<strong>
											Capacité
										</strong>
										<p>
											{{ content.field_capacite }}
										</p>
									</div>
								</div>

								<div class="formation-info-item">
									<img src="/{{ directory }}/assets/images/f-icon4.svg">
									<div>
										<strong>
											Lieu de Formation
										</strong>
										<p>
											{{ content.field_lieu_de_formation }}
										</p>

									</div>
								</div>

								<div class="formation-info-item">
									<img src="/{{ directory }}/assets/images/f-icon5.svg">
									<div>
										<strong>
											Accessibilité
										</strong>
										<p>
											{{ content.field_accessibilite }}
										</p>
									</div>
								</div>

							</div>
						</div>
					</div>

				</div>
			</section>

			{# Nos diplômés Témoignent #}
			<section id="nos-diplomes" class="my-5">
				<div class="container-fluid">
					<h2>Nos diplômés Témoignent</h2>
					<p class="col-md-3">Chez INITIAL FORMATION, nous sommes fiers de la réussite de nos étudiants. Voici ce
																																																																																																																																																																																																																																																																				que certains d'entre eux ont à dire</p>


					<div class="gray-carouselle">
						{% if field_nos_diplomes_temoignent is not empty %}
							{% for temoignage in field_nos_diplomes_temoignent %}
								<div class=" d-flex m-2">
									{% if temoignage.field_photo_du_temoin.entity.uri.value %}
										<img src="{{ file_url(temoignage.field_photo_du_temoin.entity.uri.value) }}" alt="{{ node.field_compenser_handicap_image.entity.alt }}"/>
									{% endif %}
									<div>
										<h4>{{ temoignage.field_nom_et_prenom.value }}</h4>
										<p>{{ temoignage.field_le_temoignage.value }}</p>
										<hr>
										<div>
											<svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M6.6665 11.0062C8.35421 11.2676 10.2369 11.7021 11.9998 12.3838M6.6665 16.3395C7.51916 16.4716 8.42157 16.6478 9.33317 16.8778M15.9998 8.07116V27.07M5.32561 4.01503C8.28344 4.34926 12.2573 5.24843 15.0889 7.2326C15.6331 7.61394 16.3665 7.61394 16.9107 7.2326C19.7423 5.24843 23.7162 4.34926 26.6741 4.01503C28.1379 3.84961 29.3332 5.07203 29.3332 6.58024V21.5999C29.3332 23.1081 28.1379 24.331 26.6741 24.4964C23.7162 24.8307 19.7423 25.7298 16.9107 27.714C16.3665 28.0953 15.6331 28.0953 15.0889 27.714C12.2573 25.7298 8.28344 24.8307 5.32561 24.4964C3.86173 24.331 2.6665 23.1081 2.6665 21.5999V6.58024C2.6665 5.07203 3.86173 3.84961 5.32561 4.01503Z" stroke="#353942" stroke-width="2" stroke-linecap="round"/>
											</svg>
											<b>{{ temoignage.field_titre_de_la_formation.value }}</b>

										</div>
									</div>
								</div>

							{% endfor %}
						{% endif %}
					</div>
					<div class="btn-wrap">
						<button class="prev-btn btn-link btn me-2 mt-3 p-0">
							<svg width="48" height="49" viewbox="0 0 48 49" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="24" cy="24.4541" r="23" stroke="#1C5B90" stroke-width="2"/>
								<path d="M22 20.4541L18 24.4541M18 24.4541L22 28.4541M18 24.4541L30 24.4541" stroke="#1C5B90" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</button>
						<button class="next-btn btn-link btn mt-3 p-0">
							<svg width="48" height="49" viewbox="0 0 48 49" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="24" cy="24.4541" r="23" stroke="#1C5B90" stroke-width="2"/>
								<path d="M26 28.4541L30 24.4541M30 24.4541L26 20.4541M30 24.4541L18 24.4541" stroke="#1C5B90" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</button>
					</div>
				</section>
				{# END Nos diplômés Témoignent #}

				{% if field_commencez_votre_parcours is not empty %}
					{% set parcours_item = field_commencez_votre_parcours[0] %}
					<section id="start-parcours" class="my-5">
						<div class="container-fluid">
							<div class="parcours">
								<div class="row align-items-center">
									<div class="col-md-5">
										<h2>{{ parcours_item.title.value }}</h2>
										{% if parcours_item.field_commence_description.value %}
											<p>{{ parcours_item.field_commence_description.value|raw }}</p>
										{% endif %}
									</div>
									{% if parcours_item.field_decouvrir_les_cours.uri %}

										<div class="col-md-2 offset-md-5">
											<a href="{{ parcours_item.field_decouvrir_les_cours.uri }}" target="{{ parcours_item.field_decouvrir_les_cours.options.target }}" class="btn btn-green-big">
												{{ parcours_item.field_decouvrir_les_cours.title }}
												<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M14 16L18 12M18 12L14 8M18 12L6 12" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												</svg>
											</a>
										</div>
									{% endif %}
								</div>
							</div>
						</div>
					</section>

				{% endif %}
			</main>
					<!-- main Content-->
