<!--- main content-->
<main>
	<section id="title-page">
		<div class="container-fluid">
			<ul class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li> {{ node.label }} </li>
			</ul>
		</div>
	</section>
	<section id="handicaphead">
		<div class="container-fluid handicaphead mb-4">

			<div class="row">
				<div class="col-md-6">
					<h2 class=" mt-4 mb-2">{{ node.field_sub_title.value }}</h2>
					<p>{{node.field_handicap_description.value}}</p>
					<h5>Les centres de formation sont tenus de :</h5>
					<div>
						{{ content.field_les_centres_de_formation }}
					</div>
				</div>

				<div class="col-md-5 offset-lg-1">
					<img src="{{ file_url(content.field_handicap_image['#items'].entity.uri.value) }}">
				</div>
			</div>
		 
		</div>
	</section>
	<section id="comment-garantir">
		<div class="container-fluid  ">
			{{ content.field_comment_garantir }}
		</div>
	</section>
	<section id="inscriotion" class="mt-5">
		<div class="container-fluid">
			{{ content.field_comment_proceder }}
		</div>
	</section>
	<section id="pkhandicap" class="mt-5">
		<div class="container-fluid">
			{{ content.field_referent_handicap }}
		</div>
	</section>
	<section id="principaux-acteur">
		{# <div class="container-fluid my-5"> #}
			{{ content.field_principaux_acteurs }}
		{# </div> #}
	</section>
</main>
<!-- main Content-->