<!--- main content-->
<main>
	<section id="title-page">
		<div class="container-fluid">
			<h1 class="page-title mt-4">{{ node.label }}</h1>
			<ul class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li> {{ node.label }} </li>
			</ul>
		</div>
	</section>
	<section id="elus-header" class="fix-white-shadow ">
		<div class="container-fluid mt-4">
			<div class="elus-head d-flex align-items-end" style="background-image: url('{{ file_url(content.field_formation_elus_image['#items'].entity.uri.value) }}')">

				<div class="row ">
					<div class="col-md-5 ">
						<h2>{{ node.field_titre_formation_elus.value }}</h2>
						<p> {{ content.field_description_formation_elus }} </p>
					</div>
					<div class="col-md-3 offset-md-4  d-flex align-items-end">
						<div>
							<a href="{{content.field_notre_catalogue[0]['#url'] }}" class="btn btn-secondary w-100 mb-2">{{ node.field_notre_catalogue.title }}</a>
							<a href="{{content.field_telecharger_le_guide[0]['#url']}}" class="btn btn-green w-100">
								{{ node.field_telecharger_le_guide.title }}
								<svg width="21" height="20" viewBox="0 0 21 20" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path
										d="M10.5 5.04447V16.9187M4.66663 6.87887C5.72144 7.04222 6.89811 7.31381 7.99996 7.7399M4.66663 10.2122C5.19953 10.2947 5.76354 10.4049 6.33329 10.5486M3.82857 2.50939C5.67721 2.71829 8.1609 3.28027 9.93065 4.52037C10.2708 4.75871 10.7291 4.75871 11.0693 4.52037C12.839 3.28027 15.3227 2.71829 17.1714 2.50939C18.0863 2.40601 18.8333 3.17002 18.8333 4.11265V13.5C18.8333 14.4426 18.0863 15.2069 17.1714 15.3103C15.3227 15.5192 12.839 16.0811 11.0693 17.3212C10.7291 17.5596 10.2708 17.5596 9.93065 17.3212C8.1609 16.0811 5.67721 15.5192 3.82857 15.3103C2.91365 15.2069 2.16663 14.4426 2.16663 13.5V4.11265C2.16663 3.17002 2.91365 2.40601 3.82857 2.50939Z"
										stroke="white" stroke-width="1.5" stroke-linecap="round" />
								</svg>

							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="forma-elus" class="mt-5">
		<div class="container-fluid">
			<div class="top-section d-flex justify-content-between align-items-center mb-5">
				<h2>Formations aux élus</h2>
				<a href="/catalogue-de-formations" class="rounded-pill">Voir Tous
					<svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd"
							d="M16.1091 12.5991C16.3397 12.8298 16.3397 13.2037 16.1091 13.4343L10.0875 19.4559C9.8568 19.6866 9.48289 19.6866 9.25223 19.4559L8.97378 19.1775C8.74312 18.9468 8.74312 18.5729 8.97378 18.3422L14.2993 13.0167L8.97378 7.69116C8.74312 7.4605 8.74312 7.08659 8.97378 6.85593L9.25224 6.57747C9.48289 6.34682 9.8568 6.34682 10.0875 6.57747L16.1091 12.5991Z"
							fill="white" />
					</svg>
				</a>
			</div>
			<div class=" two-elments  one-block-elements">
				{{ content.field_formations_aux_elus }}
			</div>
		</div>
	</section>
	<br>
	{{ content.field_textes_reglementaires }}

	<section id="droit-dife">
		<div class="container-fluid my-4">
			<div class="droit-dife">
				<div class="row">
					<div class="col-md-4">
						<h5 class="text-blue fw-semibold">{{ node.field_droit_individuel_titre.value }}</h5>
						<h2 class=" my-3">{{ node.field_droit_individuel_sous_titr.value }}</h2>
						<p>{{ content.field_droit_individuel_descripti }}</p>
					</div>
					{# {{ content.field_liste_des_droit_individuel }} #}
					<div class="col-md-4">
						{% if node.field_liste_des_droit_individuel %}
							{% for item in node.field_liste_des_droit_individuel %}
								{% set droit_individuel = item.entity %}
								{% if droit_individuel and loop.index <= 3 %}
									{% if droit_individuel.field_droit_individuel_logo.entity and droit_individuel.field_droit_individuel_logo.entity.uri.value %}

									<div class="rule-zone d-flex flex-column align-items-stretch  h-100">
										{% if droit_individuel.field_icon.entity and droit_individuel.field_icon.entity.uri.value %}
											<img width="48px" src="{{ file_url(droit_individuel.field_icon.entity.uri.value) }}" class="">
										{% endif %}
										<div class="mb-auto">
											<div class="text-center mb-3"> 
												{% if droit_individuel.field_droit_individuel_logo.entity and droit_individuel.field_droit_individuel_logo.entity.uri.value %}
												<img src="{{ file_url(droit_individuel.field_droit_individuel_logo.entity.uri.value) }}" class="">
												{% endif %}
											</div>
											<p class="mt-5">{{ droit_individuel.field_droit_individuel_discripti.value }}</p>
										</div>
										<a href="{{droit_individuel.field_guide_d_utilisation.0.url}}" class="btn btn-secondary mt-5 w-75">{{ droit_individuel.field_guide_d_utilisation.title }}
									
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M14 16L18 12M18 12L14 8M18 12L6 12" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
											</svg>
										</a>
									</div>
								{% else %}
								{% if droit_individuel and loop.index == 3 %}
									<div class="rule-zone d-flex flex-column">
									{% else %}
									<div class="rule-zone d-flex flex-column mb-3">
								{% endif %}

									{% if droit_individuel.field_icon.entity and droit_individuel.field_icon.entity.uri.value %}
									<img width="48px" src="{{ file_url(droit_individuel.field_icon.entity.uri.value) }}" class="">
									{% endif %}
								<p class="mt-3">{{ droit_individuel.field_droit_individuel_discripti.value }}</p>
								</div>
								{% endif %}								
								{% endif %}
							{% endfor %}
						{% endif %}
					</div>
					<div class="col-md-4">
						{% if node.field_liste_des_droit_individuel %}
							{% for item in node.field_liste_des_droit_individuel %}
								{% set droit_individuel = item.entity %}
								{% if droit_individuel and loop.index > 3 %}
								{% if droit_individuel.field_droit_individuel_logo.entity and droit_individuel.field_droit_individuel_logo.entity.uri.value %}

								<div class="rule-zone d-flex flex-column align-items-stretch  h-100">
									{% if droit_individuel.field_icon.entity and droit_individuel.field_icon.entity.uri.value %}
										<img width="48px" src="{{ file_url(droit_individuel.field_icon.entity.uri.value) }}" class="">
									{% endif %}
									<div class="mb-auto">
										<div class="text-center mb-3"> 
											{% if droit_individuel.field_droit_individuel_logo.entity and droit_individuel.field_droit_individuel_logo.entity.uri.value %}
											<img src="{{ file_url(droit_individuel.field_droit_individuel_logo.entity.uri.value) }}" class="">
											{% endif %}
										</div>
										<p class="mt-5">{{ droit_individuel.field_droit_individuel_discripti.value }}</p>
									</div>
									<a href="{{ droit_individuel.field_guide_d_utilisation.0.url }}" class="btn btn-secondary mt-5 w-75">{{ droit_individuel.field_guide_d_utilisation.title }}
								
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M14 16L18 12M18 12L14 8M18 12L6 12" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
										</svg>
									</a>
								</div>
								{% else %}
								<div class="rule-zone d-flex flex-column mb-3">
								{% if droit_individuel.field_icon.entity and droit_individuel.field_icon.entity.uri.value %}
								<img width="48px" src="{{ file_url(droit_individuel.field_icon.entity.uri.value) }}" class="">
								{% endif %}
								<p class="mt-3">{{ droit_individuel.field_droit_individuel_discripti.value }}</p>
								</div>
								{% endif %}								
								{% endif %}
							{% endfor %}
						{% endif %}
					</div>


				</div>
			</div>

		</div>
	</section>
	<br>
	<section id="sinscrire" class="">
		<div class="container-fluid  ">
			<div class="row mt-3">
				<div class="col-md-4 ">
					<h5 class="text-blue fw-semibold">{{node.field_processus_titre.value }}</h5>
					<h2 class=" my-3">{{ node.field_processus_sous_titre.value }}</h2>
				</div>
				<div class="col-md-4  offset-md-1 d-none d-md-block mb-3">
					{{ content.field_processus_description }}
				</div>
			</div>
			<div class="row">
				{{ content.field_processus_liste }}
			</div>
		</div>
	</section>

	{{ content.field_remboursement_des_frais }}

	<section id="nouveautes">
		<div class="container-fluid mt-5">
			<div class="row">
				<div class="col-md-4">
					<h5 class="text-blue fw-semibold">{{ node.field_nouveautes_et_conditions.value }}</h5>
					<h2 class=" my-3">{{ node.field_nouveautes_sous_titre.value }}</h2>
				</div>
				<div class="col-md-8">
					<div class="accordion custom-accordion">
						{{ content.field_liste_nouveautes_et_condit }}
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
<!-- main Content-->

<script>
	document.addEventListener("DOMContentLoaded", function () {
    var firstAccordionButton = document.querySelector(".custom-accordion .field__item:first-child .accordion-button");
    if (firstAccordionButton) {
        firstAccordionButton.click();
    }
});

</script>