<!--- main content-->
<main>

	<section	id="elus-header"	class="fix-white-shadow ">
		<div	class="container-fluid  ">
			<div	class="row">
				<div	class="col-md-8">
					{% if node.field_beneficiaires.entity %}
						{% set beneficiaries = node.field_beneficiaires.entity %}
						{% if beneficiaries.field_image.entity.uri.value %}
							<div
							class="elus-head d-flex align-items-end elus-head-course"	style="background-image: url('{{ file_url(beneficiaries.field_image.entity.uri.value) }}')">
								{% else %}
								<div	class="elus-head d-flex align-items-end elus-head-course">
								{% endif %}

							{% else %}
								<div	class="elus-head d-flex align-items-end elus-head-course">
								{% endif %}
								<div	class="row ">
									<div	class="col-md-7 ">
										<h2>
											{{ node.label }}
										{# {% if node.field_description.entity.field_titre_de_la_description.value %}
											{{ node.field_description.entity.field_titre_de_la_description.value }}
										{% endif %} #}
										</h2>

										<div	class="review-block">
											<span	class="badge-blue">
												{% if node.field_categorie_formation.entity %}
													{% set term = node.field_categorie_formation.entity %}
													{{ term.name.value }}
												{% endif %}
											</span>
											<div	class=" rating-block  pt-3 pb-3">
												<strong>
													{% if node.field_taux_de_satisfaction.value %}
														{{ node.field_taux_de_satisfaction.value }}
													{% endif %}
												</strong>
												<div>
													{% set rate = node.field_taux_de_satisfaction.value|default(0) %}
													{# Ensure rate is set, default to 0 if empty #}

													{% for i in 1..rate %}
														<span>
															<img	src="/{{ directory }}/assets/images/Star.svg"	alt="Star"></span>
														{% endfor %}

													</div>
													{# TODO:: ADDING FIELD #}
													<p>
														(120 avis)
													</p>
												</div>
											</div>
											<p>
												{% if node.field_description.entity.field_texte_decriptif.value %}
													{{ node.field_description.entity.field_texte_decriptif.value|slice(0, 100) }}
												{% endif %}
											</p>
										</div>

									</div>
								</div>

								<div	class="tags-block  d-flex gap-3 pt-3 pb-3">
									<a	href="#"	class="active">
										<span>
											Programme de formation
										</span>
									</a>
									<a	href="#">
										<span>
											Programme de formation
										</span>
									</a>
									<a	href="#">
										<span>
											Bénéficiaires et Exigences
										</span>
									</a>
									<a	href="#">
										<span>
											Équipe et Évaluation
										</span>
									</a>
									<a	href="#">
										<span>
											Certification
										</span>
									</a>
								</div>

								<div	class="pt-4 pb-4">
									<p>
										{{ content.field_description }}
									</p>

									<h4	class="text-blue mb-3">
										Objectifs de la Formation
									</h4>

									<div	class="objectf-block">
										<p>
											{{ content.field_objectifs_de_la_formation }}
										</p>
										
									</div>
									
									<hr/>
									
									<div	class="row">
									
									{{ content.field_beneficiaires }}
									{{ content.field_programme_de_formation }}
										

										

										<hr/>
										<h4	class="text-blue">
											Méthodes d'Évaluation
										</h4>

										<p	class="h2 pt-2 pb-3">
											Mise en Œuvre et Évaluation des Résultats
										</p>

										<ul	class="list">

											<li>
												Évaluation pratique de l'installation et du raccordement d'un système photovoltaïque
											</li>
											<li>
												Évaluation des connaissances théoriques à travers des tests écrits et des examens.
											</li>
											<li>
												Évaluation continue basée sur la participation, l'engagement et les progrès des
												apprenants tout au long du bootcamp.
											</li>
										</ul>

										<hr/>

										<div	class="bg-blue box-text-course mb-5">

											<div	class="row align-items-center">

												<div	class="col-md-7">

													<h4>
														Équipe Pédagogique
													</h4>
													<p	class="h2 pt-2 pb-3 text-white">
														Nos Experts à Vos Côtés
													</p>

													<p>
														Experts techniques spécialisés en photovoltaïque
													</p>
													<p>
														Charpentiers expérimentés
													</p>
													<p>
														Électriciens qualifiés
													</p>
													<p>
														Professionnels de la sécurité
													</p>
												</div>
												<div	class="col-md-5">
													<img	src="images/equipe.png"	class="round-25"></div>
												</div>

											</div>

											<h4	class="text-blue">
												Ressources Techniques et Pédagogiques
											</h4>

											<p	class="h2 pt-2 pb-3">
												Support et Outils de Formation
											</p>

											<ul>
												<li>
													Cours théoriques interactifs pour expliquer les concepts et les techniques.
												</li>
												<li>
													Évaluations régulières pour vérifier la compréhension et l'application des
													connaissances.
												</li>
												<li>
													Travaux pratiques en petits groupes pour permettre aux participants de mettre en
													pratique les compétences acquises.
												</li>
												<li>
													Démonstrations pratiques sur l'installation des panneaux solaires et des équipements
													électriques.
												</li>
												<li>
													Études de cas et simulations de scénarios pour résoudre des problèmes réels.
												</li>
												<li>
													Études de cas pour illustrer les défis rencontrés lors de l'installation et du
													raccordement des systèmes photovoltaïques.
												</li>

											</ul>

											<hr/>

											<div	class="d-flex align-items-center justify-content-between certificat-block">

												<div>
													<h4	class="text-blue">
														Ressources Techniques et Pédagogiques
													</h4>

													<p	class="h2 pt-2 pb-3">
														Support et Outils de Formation
													</p>
												</div>

												<div>

													<img	src="images/certification.svg"></div>

												</div>

												<div	class="icon-box">

													<img	src="images/box-icon-1.svg">
														<div>
															<strong>
																Résultats attendus à la fin de la formation
															</strong>
															<p>
																Test théorique final sous forme d'un QCM (questionnaire à choix multiple) de 20
																questions avec une note pour 16/20 minimum pour le valider.
															</p>
														</div>
													</div>

													<div	class="icon-box">

														<img	src="images/box-icon-2.svg">
															<div>
																<strong>
																	Procédure d'obtention
																</strong>
																<p>
																	Délivrance d'une attestation.
																</p>
															</div>
														</div>

														<div	class="icon-box">

															<img	src="images/box-icon-3.svg">
																<div>
																	<strong>
																		Détails de la certification
																	</strong>
																	<p>
																		Un installateur de panneaux expérimenté peut se tourner vers le domaine
																			commercial et devenir technicien conseil. Celui-ci peut aussi prendre la tête
																			d’une équipe de poseur en devenant chef d’équipe ou conducteur de travaux.
																			Enfin, un profil très expérimenté peut se mettre à son compte et travailler en
																		tant qu’auto-entrepreneur.
																	</p>
																</div>
															</div>

															<div	class="icon-box">

																<img	src="images/box-icon-4.svg">
																	<div>
																		<strong>
																			Période de validité
																		</strong>
																		<p>
																			années
																		</p>
																	</div>
																</div>

															</div>

														</div>

														<div	class="col-md-4">
															<div	class="bg-blue contact-block-info pre-register-block  course-info-block">

																<div	class="info-formation-block">

																	<div	class="info-formation-block-item">
																		<span>
																			Type de formation
																		</span>
																		<p>
																			{% if node.field_type_de_formation.entity %}
																				{% set term = node.field_type_de_formation.entity %}
																				{{ term.name.value }}
																			{% endif %}
																		</p>

																	</div>

																	<div	class="info-formation-block-item">
																		<span>
																			Accessible
																		</span>
																		<p>
																			{% if node.field_accessible.value == '1' %}
																				Oui
																			{% else %}
																				Non
																			{% endif %}
																		</p>

																	</div>

																	<div	class="info-formation-block-item">
																		<span>
																			Durée
																		</span>
																		<p>
																			{% if node.field_duree.value %}
																				{{ node.field_duree.value }}
																				heures (
																				{{ node.field_duree.value ? ((node.field_duree.value|number_format // 7) | round) : 0 }}
																				jours)
																			{% endif %}
																		</p>

																	</div>
																</div>
																{# TODO:: ADDING FIELD #}
																<div	class="d-flex gap-3  pt-2 pb-2">
																	<span	class="badge-green">
																		Private client
																	</span>
																	<span	class="badge-white">
																		Self-employed
																	</span>
																	<span	class="badge-white">
																		Company
																	</span>
																</div>

																<strong>
																	<sub>
																		{% if node.field_prix.value %}
																			{{ node.field_prix.value }}
																			€
																		{% endif %}
																		<sub></sub>
																	</strong>
																	<div	class="action-btn pt-2 pb-2">
																		<a	href="#"	class="btn btn-secondary w-100 mb-2">
																			Inscription
																		</a>
																		<a	href="#"	class="btn btn-green w-100">
																			<svg	xmlns="http://www.w3.org/2000/svg"	width="28"	height="28"	viewBox="0 0 28 28"	fill="none">
																				<circle	cx="14"	cy="14"	r="14"	fill="white" />
																				<path	fill-rule="evenodd"	clip-rule="evenodd"	d="M11 9.5C9.89543 9.5 9 10.3954 9 11.5V16.5C9 17.6046 9.89543 18.5 11 18.5H17C18.1046 18.5 19 17.6046 19 16.5V11.5C19 10.3954 18.1046 9.5 17 9.5H11ZM11.208 11.688C11.0357 11.5731 10.8029 11.6196 10.688 11.792C10.5731 11.9643 10.6197 12.1971 10.792 12.312L12.6826 13.5724C13.4804 14.1042 14.5197 14.1042 15.3174 13.5724L17.208 12.312C17.3803 12.1971 17.4269 11.9643 17.312 11.792C17.1971 11.6196 16.9643 11.5731 16.792 11.688L14.9014 12.9484C14.3556 13.3123 13.6445 13.3123 13.0986 12.9484L11.208 11.688Z"	fill="#96AE41" />
																			</svg>
																			Prendre rendez-vous
																		</a>
																	</div>
																	<p	class="footer-course">
																		Training created on
																		{{ node.created.value|date("m/d/Y") }}
																		.
																		Last update on
																		{{ node.changed.value|date("m/d/Y") }}
																		.
																		<pr/>
																		{# TODO:: ADDING FIELD #}
																		Programme version: 2
																	</p>

																</div>

																<div	class="formation-info pt-4">
																	<div	class="formation-info-item">
																		<img	src="/{{ directory }}/assets/images/f-icon1.svg">
																			<div>
																				<strong>
																					Prochaines sessions
																				</strong>
																				{{ content.field_prochaines_sessions_dates }}

																			</div>
																		</div>

																		<div	class="formation-info-item">
																			<img	src="/{{ directory }}/assets/images/f-icon2.svg">
																				<div>
																					<strong>
																						Délai de connexion
																					</strong>
																					<p>
																						{{ content.field_delai_de_connexion }}
																					</p>
																				</div>
																			</div>

																			<div	class="formation-info-item">
																				<img	src="/{{ directory }}/assets/images/f-icon3.svg">
																					<div>
																						<strong>
																							Capacité
																						</strong>
																						<p>
																							{{ content.field_capacite }}
																						</p>
																					</div>
																				</div>

																				<div	class="formation-info-item">
																					<img	src="/{{ directory }}/assets/images/f-icon4.svg">
																						<div>
																							<strong>
																								Lieu de Formation
																							</strong>
																							<p>
																								{{ content.field_lieu_de_formation }}
																							</p>

																						</div>
																					</div>

																					<div	class="formation-info-item">
																						<img	src="/{{ directory }}/assets/images/f-icon5.svg">
																							<div>
																								<strong>
																									Accessibilité
																								</strong>
																								<p>
																									{{ content.field_accessibilite }}
																								</p>
																							</div>
																						</div>

																					</div>
																				</div>
																			</div>

																		</div>
																	</section>

																	<section	id="nos-diplomes"	class="my-5">
																		<div	class="container-fluid">
																			<h2	class="h2">
																				Nos diplômés Témoignent
																			</h2>
																			<p	class="col-md-3">
																				Chez INITIAL FORMATION, nous sommes fiers de la réussite de nos étudiants. Voici ce
																				que certains d'entre eux ont à dire
																			</p>

																			<div	class="gray-carouselle">
																				<div	class=" d-flex m-2">
																					<img	src="./images/student-1.png"	alt="">
																						<div>
																							<h4>
																								Lincoln Saris
																							</h4>
																							<p>
																								« Je viens de recevoir mon premier salaire après avoir terminé la formation et je suis
																								100% satisfaite des résultats ! Je l'ai recommandé à tous mes amis »
																							</p>
																							<hr>
																								<div>
																									<svg	width="32"	height="32"	viewBox="0 0 32 32"	fill="none"	xmlns="http://www.w3.org/2000/svg">
																										<path	d="M6.6665 11.0062C8.35421 11.2676 10.2369 11.7021 11.9998 12.3838M6.6665 16.3395C7.51916 16.4716 8.42157 16.6478 9.33317 16.8778M15.9998 8.07116V27.07M5.32561 4.01503C8.28344 4.34926 12.2573 5.24843 15.0889 7.2326C15.6331 7.61394 16.3665 7.61394 16.9107 7.2326C19.7423 5.24843 23.7162 4.34926 26.6741 4.01503C28.1379 3.84961 29.3332 5.07203 29.3332 6.58024V21.5999C29.3332 23.1081 28.1379 24.331 26.6741 24.4964C23.7162 24.8307 19.7423 25.7298 16.9107 27.714C16.3665 28.0953 15.6331 28.0953 15.0889 27.714C12.2573 25.7298 8.28344 24.8307 5.32561 24.4964C3.86173 24.331 2.6665 23.1081 2.6665 21.5999V6.58024C2.6665 5.07203 3.86173 3.84961 5.32561 4.01503Z"	stroke="#353942"	stroke-width="2"	stroke-linecap="round" />
																									</svg>
																									<b>
																										Bootcamp Monteur équipements photovoltaïques
																									</b>

																								</div>
																							</div>
																						</div>

																						<div	class=" d-flex m-2">
																							<img	src="./images/student-2.png"	alt="">
																								<div>
																									<h4>
																										Hanna Donin
																									</h4>
																									<p>
																										« Je viens de recevoir mon premier salaire après avoir terminé la formation et je suis
																										100% satisfaite des résultats ! Je l'ai recommandé à tous mes amis »
																									</p>
																									<hr>
																										<div>
																											<svg	width="32"	height="32"	viewBox="0 0 32 32"	fill="none"	xmlns="http://www.w3.org/2000/svg">
																												<path	d="M6.6665 11.0062C8.35421 11.2676 10.2369 11.7021 11.9998 12.3838M6.6665 16.3395C7.51916 16.4716 8.42157 16.6478 9.33317 16.8778M15.9998 8.07116V27.07M5.32561 4.01503C8.28344 4.34926 12.2573 5.24843 15.0889 7.2326C15.6331 7.61394 16.3665 7.61394 16.9107 7.2326C19.7423 5.24843 23.7162 4.34926 26.6741 4.01503C28.1379 3.84961 29.3332 5.07203 29.3332 6.58024V21.5999C29.3332 23.1081 28.1379 24.331 26.6741 24.4964C23.7162 24.8307 19.7423 25.7298 16.9107 27.714C16.3665 28.0953 15.6331 28.0953 15.0889 27.714C12.2573 25.7298 8.28344 24.8307 5.32561 24.4964C3.86173 24.331 2.6665 23.1081 2.6665 21.5999V6.58024C2.6665 5.07203 3.86173 3.84961 5.32561 4.01503Z"	stroke="#353942"	stroke-width="2"	stroke-linecap="round" />
																											</svg>
																											<b>
																												Bootcamp Monteur équipements photovoltaïques
																											</b>

																										</div>
																									</div>
																								</div>

																								<div	class=" d-flex m-2">
																									<img	src="./images/student-3.png"	alt="">
																										<div>
																											<h4>
																												Alena Franci
																											</h4>
																											<p>
																												« Je viens de recevoir mon premier salaire après avoir terminé la formation et je suis
																												100% satisfaite des résultats ! Je l'ai recommandé à tous mes amis »
																											</p>
																											<hr>
																												<div>
																													<svg	width="32"	height="32"	viewBox="0 0 32 32"	fill="none"	xmlns="http://www.w3.org/2000/svg">
																														<path	d="M6.6665 11.0062C8.35421 11.2676 10.2369 11.7021 11.9998 12.3838M6.6665 16.3395C7.51916 16.4716 8.42157 16.6478 9.33317 16.8778M15.9998 8.07116V27.07M5.32561 4.01503C8.28344 4.34926 12.2573 5.24843 15.0889 7.2326C15.6331 7.61394 16.3665 7.61394 16.9107 7.2326C19.7423 5.24843 23.7162 4.34926 26.6741 4.01503C28.1379 3.84961 29.3332 5.07203 29.3332 6.58024V21.5999C29.3332 23.1081 28.1379 24.331 26.6741 24.4964C23.7162 24.8307 19.7423 25.7298 16.9107 27.714C16.3665 28.0953 15.6331 28.0953 15.0889 27.714C12.2573 25.7298 8.28344 24.8307 5.32561 24.4964C3.86173 24.331 2.6665 23.1081 2.6665 21.5999V6.58024C2.6665 5.07203 3.86173 3.84961 5.32561 4.01503Z"	stroke="#353942"	stroke-width="2"	stroke-linecap="round" />
																													</svg>
																													<b>
																														Bootcamp Monteur équipements photovoltaïques
																													</b>

																												</div>
																											</div>
																										</div>

																										<div	class=" d-flex m-2">
																											<img	src="./images/student-2.png"	alt="">
																												<div>
																													<h4>
																														Hanna Donin
																													</h4>
																													<p>
																														« Je viens de recevoir mon premier salaire après avoir terminé la formation et je suis
																														100% satisfaite des résultats ! Je l'ai recommandé à tous mes amis »
																													</p>
																													<hr>
																														<div>
																															<svg	width="32"	height="32"	viewBox="0 0 32 32"	fill="none"	xmlns="http://www.w3.org/2000/svg">
																																<path	d="M6.6665 11.0062C8.35421 11.2676 10.2369 11.7021 11.9998 12.3838M6.6665 16.3395C7.51916 16.4716 8.42157 16.6478 9.33317 16.8778M15.9998 8.07116V27.07M5.32561 4.01503C8.28344 4.34926 12.2573 5.24843 15.0889 7.2326C15.6331 7.61394 16.3665 7.61394 16.9107 7.2326C19.7423 5.24843 23.7162 4.34926 26.6741 4.01503C28.1379 3.84961 29.3332 5.07203 29.3332 6.58024V21.5999C29.3332 23.1081 28.1379 24.331 26.6741 24.4964C23.7162 24.8307 19.7423 25.7298 16.9107 27.714C16.3665 28.0953 15.6331 28.0953 15.0889 27.714C12.2573 25.7298 8.28344 24.8307 5.32561 24.4964C3.86173 24.331 2.6665 23.1081 2.6665 21.5999V6.58024C2.6665 5.07203 3.86173 3.84961 5.32561 4.01503Z"	stroke="#353942"	stroke-width="2"	stroke-linecap="round" />
																															</svg>
																															<b>
																																Bootcamp Monteur équipements photovoltaïques
																															</b>

																														</div>
																													</div>
																												</div>
																											</div>
																											<div	class="btn-wrap">
																												<button	class="prev-btn btn-link btn me-2 mt-3 p-0">
																													<svg	width="48"	height="49"	viewBox="0 0 48 49"	fill="none"	xmlns="http://www.w3.org/2000/svg">
																														<circle	cx="24"	cy="24.4541"	r="23"	stroke="#1C5B90"	stroke-width="2" />
																														<path	d="M22 20.4541L18 24.4541M18 24.4541L22 28.4541M18 24.4541L30 24.4541"	stroke="#1C5B90"	stroke-width="1.5"	stroke-linecap="round"	stroke-linejoin="round" />
																													</svg>
																												</button>
																												<button	class="next-btn btn-link btn mt-3 p-0">
																													<svg	width="48"	height="49"	viewBox="0 0 48 49"	fill="none"	xmlns="http://www.w3.org/2000/svg">
																														<circle	cx="24"	cy="24.4541"	r="23"	stroke="#1C5B90"	stroke-width="2" />
																														<path	d="M26 28.4541L30 24.4541M30 24.4541L26 20.4541M30 24.4541L18 24.4541"	stroke="#1C5B90"	stroke-width="1.5"	stroke-linecap="round"	stroke-linejoin="round" />
																													</svg>
																												</button>
																											</div>
																										</div>
																									</section>

																									<section	id="start-parcours"	class="my-5">
																										<div	class="container-fluid">
																											<div	class="parcours">
																												<div	class="row align-items-center">
																													<div	class="col-md-5">
																														<h2>
																															Commencez votre parcours d'apprentissage dès aujourd'hui
																														</h2>
																														<p>
																															Libérez votre potentiel et embarquez pour un voyage d'apprentissage tout au long de la
																															vie
																														</p>
																													</div>
																													<div	class="col-md-2 offset-md-5">
																														<a	href="#"	class="btn btn-green-big">
																															Découvrir les cours
																															<svg	width="24"	height="24"	viewBox="0 0 24 24"	fill="none"	xmlns="http://www.w3.org/2000/svg">
																																<path	d="M14 16L18 12M18 12L14 8M18 12L6 12"	stroke="white"	stroke-width="1.5"	stroke-linecap="round"	stroke-linejoin="round" />
																															</svg>
																														</a>
																													</div>
																												</div>
																											</div>
																										</div>
																									</section>
																								</main>
																								<!-- main Content-->
																								