<div class="block-register">
	<div class="block-img">
		{% set image_url_entity = "" %}
		{% if node.field_image.entity.uri.value %}
			{% set image_url_entity = node.field_image.entity %}
			{% set large_bgimg = file_url(node.field_image.entity.uri.value|image_style('large')) %}
		{% elseif node.field_beneficiaires.entity %}
			{% set beneficiaries = node.field_beneficiaires.entity %}
			{% if beneficiaries.field_image.entity.uri.value %}
				{% set image_url_entity = beneficiaries.field_image.entity %}
			{% endif %}
		{% endif %}
		<img src="{{ file_url(image_url_entity.uri.value|image_style('formation_card')) }}" alt="{{ image_url_entity.alt }}"/>

		<span class="cpf rounded-pill">{{ node.field_eligible_cpf.value == 1 ? 'CPF' : '' }}
			<svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M10.0003 18.3337C14.6027 18.3337 18.3337 14.6027 18.3337 10.0003C18.3337 5.39795 14.6027 1.66699 10.0003 1.66699C5.39795 1.66699 1.66699 5.39795 1.66699 10.0003C1.66699 14.6027 5.39795 18.3337 10.0003 18.3337ZM13.827 7.88407C14.0389 7.6116 13.9898 7.21893 13.7174 7.00701C13.4449 6.79509 13.0522 6.84417 12.8403 7.11664L9.50115 11.4099C9.4269 11.5053 9.28723 11.5177 9.19734 11.4368L7.0851 9.5358C6.82853 9.30488 6.43335 9.32568 6.20244 9.58225C5.97153 9.83882 5.99233 10.234 6.24889 10.4649L8.36113 12.3659C8.9904 12.9323 9.96808 12.8455 10.4878 12.1773L13.827 7.88407Z" fill="white"></path>
			</svg>
		</span>
		<span class="presential rounded-pill">
			{% if node.field_type_de_formation.entity %}
				{% set term = node.field_type_de_formation.entity %}
				{{ term.name.value }}
			{% endif %}
		</span>
	</div>

	<div class="block-detail px-3">

		<h3>
			{{ node.label }}
			{# {% if node.field_beneficiaires.entity.field_titre.value %}
									                {{ node.field_beneficiaires.entity.field_titre.value }}
									            {% endif %} #}
			{# {% if node.field_description.entity.field_titre_de_la_description.value %}
				{{ node.field_description.entity.field_titre_de_la_description.value }}
			{% endif %} #}
		</h3>
		<p>
			{% if node.field_formation_description %}
				{{ node.field_formation_description.value|striptags|length > 130 ? node.field_formation_description.value|striptags|slice(0, 130) ~ '...' : node.field_formation_description.value }}
			{% endif %}
		</p>
		<div class="d-flex justify-content-between block-time-access">
			<div>
				<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M22 12V6C22 3.79086 20.2091 2 18 2H6C3.79086 2 2 3.79086 2 6V18C2 20.2091 3.79086 22 6 22H22" stroke="#757B7B" stroke-width="1.5" stroke-linecap="round"></path>
					<path d="M22 12L20 10" stroke="#757B7B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
					<path d="M12 6V10.5M10.5 13.5L9 15" stroke="#757B7B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
					<path d="M13.5 12C13.5 12.8284 12.8284 13.5 12 13.5C11.1716 13.5 10.5 12.8284 10.5 12C10.5 11.1716 11.1716 10.5 12 10.5C12.8284 10.5 13.5 11.1716 13.5 12Z" stroke="#757B7B" stroke-width="1.5"></path>
				</svg>
                {% if node.field_duree.value %}
                    {{ node.field_duree.value }} heures ({{ node.field_duree.value ? ((node.field_duree.value|number_format // 7) | round) : 0 }} jours)
                {% endif %}
			</div>
			<div>
				{% if node.field_accessible.value == '1' %}
					<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M13.5 3.5C13.5 4.32843 12.8284 5 12 5C11.1716 5 10.5 4.32843 10.5 3.5C10.5 2.67157 11.1716 2 12 2C12.8284 2 13.5 2.67157 13.5 3.5Z" fill="#757B7B"></path>
						<path d="M13 21C13 21.5523 12.5523 22 12 22C11.4477 22 11 21.5523 11 21C11 20.4477 11.4477 20 12 20C12.5523 20 13 20.4477 13 21Z" fill="#757B7B"></path>
						<path d="M9 21C9 21.5523 8.55228 22 8 22C7.44772 22 7 21.5523 7 21C7 20.4477 7.44772 20 8 20C8.55228 20 9 20.4477 9 21Z" fill="#757B7B"></path>
						<path d="M17 21C17 21.5523 16.5523 22 16 22C15.4477 22 15 21.5523 15 21C15 20.4477 15.4477 20 16 20C16.5523 20 17 20.4477 17 21Z" fill="#757B7B"></path>
						<path d="M5 6C10.4235 7.33725 13.3997 7.32941 19 6" stroke="#757B7B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
						<path d="M10 12V7H14V12H10Z" fill="#757B7B"></path>
						<path d="M11 10L10 18" stroke="#757B7B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
						<path d="M13 10L14 18" stroke="#757B7B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
					</svg>
					Accessible
				{% endif %}

			</div>
		</div>
        <a href="{{ url('entity.node.canonical', {'node': node.id}) }}" class="btn btn-secondary w-100 mt-3">Inscription</a>
	</div>
</div>
