<!--- main content-->
<main>
	<section id="title-page">
		<div class="container-fluid">
			<ul class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li>handicap en formation</li>
			</ul>
		</div>
	</section>
	<section id="handicaphead">
		<div class="container-fluid handicaphead mb-4">

			<div class="row">
				<div class="col-md-6">
					<h2 class=" mt-4 mb-2">Accessibilité et Accompagnement des Personnes en Situation de
						Handicap</h1>
						<p>Le décret n° 2006-26 du 9 janvier 2006 relatif à la formation professionnelle des personnes
							en
							situation de handicap ou présentant un trouble de santé invalidant définit les principes de
							non-discrimination et d’accessibilité à la formation.</p>
						<h5>Les centres de formation sont tenus de :
					</h2>
					<div>
						<div class="d-flex justify-content-start mb-4 align-items-center">
							<div>
								<svg width=" 48" height="48" viewBox="0 0 48 48" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<circle cx="24" cy="24" r="24" fill="#96AE41" fill-opacity="0.1" />
									<path
										d="M14.6667 25.333L19.3686 29.0945C20.4717 29.977 22.0716 29.8461 23.0166 28.7961L33.3334 17.333"
										stroke="#96AE41" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" />
								</svg>
							</div>
							<p class="ms-3 m-0">Accueillir les personnes handicapées en formation sans discrimination
							</p>
						</div>
						<div class="d-flex justify-content-start align-items-center">
							<div>
								<svg width="48" height="48" viewBox="0 0 48 48" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<circle cx="24" cy="24" r="24" fill="#96AE41" fill-opacity="0.1" />
									<path
										d="M14.6667 25.333L19.3686 29.0945C20.4717 29.977 22.0716 29.8461 23.0166 28.7961L33.3334 17.333"
										stroke="#96AE41" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" />
								</svg>
							</div>
							<p class="ms-3 m-0">Garantir l’égalité des droits et des chances des personnes handicapées,
								pour
								accéder à la
								formation et à la qualification, mais aussi pour leur permettre de valider leur
								parcours.</p>
						</div>
					</div>
				</div>

				<div class="col-md-5 offset-lg-1">
					<img src="/{{ directory }}/assets/images/image-handicap-1.png">
				</div>
			</div>
		 
		</div>
	</section>
	<section id="comment-garantir">
		<div class="container-fluid  ">
			<div class="comment-section">

				<h2>Comment garantir l’accessibilité des formations pour les personnes en situation de handicap ?
				</h2>
				<p class="mb-5">Engagements d’INITIA FORMATION et rôle des acteurs clés</p>
				<div class="row mt-3">
					<div class="col-md-6 ">
						<h3 class="mb-3">Développement de l’accessibilité pédagogique</h3>
						<div class="white-rblock mt-3">
							<div class="d-flex justify-content-start align-items-center">
								<svg width="48" height="48" viewBox="0 0 48 48" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<circle cx="24" cy="24" r="24" fill="#96AE41" fill-opacity="0.1" />
									<path
										d="M14.6667 25.333L19.3686 29.0945C20.4717 29.977 22.0716 29.8461 23.0166 28.7961L33.3334 17.333"
										stroke="#96AE41" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" />
								</svg>
								<h5 class="  ms-3">Anticipation de l’accueil</h5>
							</div>
							<p>Organisation et adaptation avant même l’arrivée des personnes en situation de
								handicap.
							</p>
						</div>
						<div class="white-rblock">
							<div class="d-flex justify-content-start align-items-center">
								<svg width="48" height="48" viewBox="0 0 48 48" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<circle cx="24" cy="24" r="24" fill="#96AE41" fill-opacity="0.1" />
									<path
										d="M14.6667 25.333L19.3686 29.0945C20.4717 29.977 22.0716 29.8461 23.0166 28.7961L33.3334 17.333"
										stroke="#96AE41" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" />
								</svg>
								<h5 class="  ms-3">Désignation d’un référent handicap</h5>
							</div>
							<p>Garant de la mise en œuvre des actions adaptées.
							</p>
						</div>
						<div class="white-rblock">
							<div class="d-flex justify-content-start align-items-center">
								<svg width="48" height="48" viewBox="0 0 48 48" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<circle cx="24" cy="24" r="24" fill="#96AE41" fill-opacity="0.1" />
									<path
										d="M14.6667 25.333L19.3686 29.0945C20.4717 29.977 22.0716 29.8461 23.0166 28.7961L33.3334 17.333"
										stroke="#96AE41" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" />
								</svg>
								<h5 class=" ms-3">Formation des équipes</h5>
							</div>
							<p>Développement des compétences pour compenser le handicap en formation.
							</p>
						</div>
						<div class="white-rblock">
							<div class="d-flex justify-content-start align-items-center">
								<svg width="48" height="48" viewBox="0 0 48 48" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<circle cx="24" cy="24" r="24" fill="#96AE41" fill-opacity="0.1" />
									<path
										d="M14.6667 25.333L19.3686 29.0945C20.4717 29.977 22.0716 29.8461 23.0166 28.7961L33.3334 17.333"
										stroke="#96AE41" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" />
								</svg>
								<h5 class="   ms-3">Conformité des locau</h5>
							</div>
							<p>Respect des normes d’accessibilité imposées aux ERP (Établissements Recevant du
								Public).
							</p>
						</div>
					</div>
					<div class="col-md-6 ">
						<div class="blue-block">
							<h3 class="col-md-7">Engagements spécifiques d’INITIA FORMATION</h3>
							<p class="opacity-80 mb-5">INITIA FORMATION s’engage à mettre tout en oeuvre pour
								adapter les
								formations dispensées
								en fonction des contraintes particulières des personnes en situation de handicap en
							</p>
							<div class="d-flex align-items-md-center mb-5 ms-1 ms-md-5">
								<div>
									<svg width="100" height="100" viewBox="0 0 100 100" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<circle cx="50" cy="50" r="50" fill="#96AE41" fill-opacity="0.1" />
										<g clip-path="url(#clip0_1405_3202)">
											<path
												d="M47.1875 34.4375H52.8125C53.5887 34.4375 54.2188 33.8075 54.2188 33.0312V27.4062C54.2188 26.63 53.5887 26 52.8125 26H47.1875C46.4112 26 45.7812 26.63 45.7812 27.4062V33.0312C45.7812 33.8075 46.4112 34.4375 47.1875 34.4375Z"
												fill="#96AE41" />
											<path
												d="M69.7812 54.2188C72.1112 54.2188 74 52.33 74 50C74 47.67 72.1112 45.7812 69.7812 45.7812C67.4513 45.7812 65.5625 47.67 65.5625 50C65.5625 52.33 67.4513 54.2188 69.7812 54.2188Z"
												fill="#96AE41" />
											<path
												d="M30.2188 54.2188C32.5487 54.2188 34.4375 52.33 34.4375 50C34.4375 47.67 32.5487 45.7812 30.2188 45.7812C27.8888 45.7812 26 47.67 26 50C26 52.33 27.8888 54.2188 30.2188 54.2188Z"
												fill="#96AE41" />
											<path
												d="M57.8329 33.5277C60.816 34.9481 63.3586 37.1631 65.1812 39.8932L63.6677 39.7418C62.8954 39.665 62.2058 40.2283 62.1285 41.0011C62.0512 41.7739 62.6151 42.4631 63.3878 42.5404L67.6031 42.962C68.2208 43.0316 68.8452 42.6436 69.0585 42.06L70.5564 38.0971C70.831 37.3707 70.4647 36.5592 69.7382 36.2845C69.0119 36.0099 68.2002 36.3763 67.9255 37.1027L67.4821 38.2759C65.3817 35.1522 62.4633 32.6175 59.0421 30.9884C58.3407 30.6545 57.5017 30.9522 57.1678 31.6535C56.834 32.3547 57.1317 33.1937 57.8329 33.5277ZM68.3467 57.1681C67.6455 56.8341 66.8063 57.132 66.4725 57.8331C65.0521 60.8162 62.8371 63.3588 60.107 65.1814L60.2584 63.6679C60.3352 62.8956 59.7719 62.2061 58.999 62.1287C58.2262 62.0515 57.5371 62.6153 57.4597 63.3881L57.0382 67.6034C56.9686 68.2211 57.3566 68.8456 57.9402 69.0587L61.903 70.5567C62.6295 70.8313 63.441 70.4649 63.7157 69.7384C63.9903 69.0121 63.6239 68.2005 62.8974 67.9258L61.7242 67.4823C64.848 65.382 67.3827 62.4635 69.0118 59.0423C69.3457 58.3409 69.048 57.502 68.3467 57.1681ZM42.1671 66.4727C39.1839 65.0523 36.6413 62.8373 34.8187 60.1072L36.3322 60.2586C37.1046 60.3354 37.7941 59.7721 37.8714 58.9993C37.9487 58.2265 37.3849 57.5373 36.6121 57.46L32.3968 57.0384C31.7791 56.9688 31.1547 57.3569 30.9414 57.9405L29.4435 61.9033C29.1689 62.6297 29.5353 63.4412 30.2617 63.7159C30.988 63.9905 31.7997 63.6241 32.0744 62.8977L32.5178 61.7245C34.6182 64.8482 37.5367 67.383 40.9579 69.0121C41.6592 69.3459 42.4982 69.0482 42.8321 68.3469C43.166 67.6457 42.8682 66.8067 42.1671 66.4727ZM31.6533 42.8324C32.3544 43.1663 33.1936 42.8685 33.5274 42.1673C34.9478 39.1842 37.1629 36.6416 39.893 34.819L39.7416 36.3325C39.6648 37.1048 40.228 37.7943 41.0009 37.8717C41.7737 37.9489 42.4628 37.3851 42.5402 36.6123L42.9618 32.3971C43.0313 31.7793 42.6433 31.1549 42.0597 30.9417L38.0969 29.4437C37.3704 29.1691 36.5589 29.5355 36.2842 30.262C36.0097 30.9883 36.376 31.8 37.1025 32.0746L38.2757 32.5181C35.1519 34.6185 32.6172 37.5369 30.9881 40.9581C30.6543 41.6596 30.9519 42.4984 31.6533 42.8324ZM50 48.203C52.3812 48.203 54.3125 46.2727 54.3125 43.8905C54.3125 41.5093 52.3812 39.579 50 39.579C47.6187 39.579 45.6875 41.5093 45.6875 43.8905C45.6875 46.2727 47.6187 48.203 50 48.203ZM52.8125 65.5627H47.1875C46.4112 65.5627 45.7812 66.1927 45.7812 66.969V72.594C45.7812 73.3702 46.4112 74.0002 47.1875 74.0002H52.8125C53.5887 74.0002 54.2187 73.3702 54.2187 72.594V66.969C54.2187 66.1927 53.5887 65.5627 52.8125 65.5627ZM58.429 59.484V58.9758C58.429 54.3202 54.6547 50.5468 50 50.5468C45.3453 50.5468 41.5709 54.3202 41.5709 58.9758V59.484C41.5709 60.2611 42.2009 60.8902 42.9772 60.8902H57.0228C57.799 60.8902 58.429 60.2611 58.429 59.484Z"
												fill="#96AE41" />
										</g>
										<defs>
											<clipPath id="clip0_1405_3202">
												<rect width="48" height="48" fill="white"
													transform="translate(26 26)" />
											</clipPath>
										</defs>
									</svg>
								</div>
								<div class="ms-3">
									<h5>Adaptation des formations</h6>
										<p>Intégrer les technologies de l’information et de la communication pour
											faciliter
											l’accessibilité</p>
								</div>
							</div>

							<div class="d-flex align-items-md-center mb-5 ms-1 ms-md-5">
								<div>
									<svg width="100" height="100" viewBox="0 0 100 100" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<circle cx="50" cy="50" r="50" fill="#96AE41" fill-opacity="0.1" />
										<path fill-rule="evenodd" clip-rule="evenodd"
											d="M33 32C31.3431 32 30 33.3431 30 35V38.5H36V35C36 33.3431 34.6569 32 33 32ZM30 41.5V61.3333C30 63.0643 30.5614 64.7486 31.6 66.1333L32.2 66.9333C32.6 67.4667 33.4 67.4667 33.8 66.9333L34.4 66.1333C35.4386 64.7486 36 63.0643 36 61.3333V41.5H30ZM42 62C42 58.6863 44.6863 56 48 56H70V62C70 65.3137 67.3137 68 64 68H48C44.6863 68 42 65.3137 42 62ZM64 32H48C44.6863 32 42 34.6863 42 38V55.2917C43.5923 53.8666 45.6949 53 48 53H70V38C70 34.6863 67.3137 32 64 32ZM50 36.5C49.1716 36.5 48.5 37.1716 48.5 38C48.5 38.8284 49.1716 39.5 50 39.5H62C62.8284 39.5 63.5 38.8284 63.5 38C63.5 37.1716 62.8284 36.5 62 36.5H50ZM48.5 46C48.5 45.1716 49.1716 44.5 50 44.5H56C56.8284 44.5 57.5 45.1716 57.5 46C57.5 46.8284 56.8284 47.5 56 47.5H50C49.1716 47.5 48.5 46.8284 48.5 46Z"
											fill="#96AE41" />
									</svg>
								</div>

								<div class="ms-3">
									<h5>Évaluations adaptées</h5>
									<p>Révision des modalités d’évaluation pour inclure les besoins spécifiques.</p>
								</div>
							</div>

							<div class="d-flex align-items-md-center mb-5 ms-1 ms-md-5">
								<div>
									<svg width="100" height="100" viewBox="0 0 100 100" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<circle cx="50" cy="50" r="50" fill="#96AE41" fill-opacity="0.1" />
										<path
											d="M73.588 58.1366L69.0401 53.5882L59.6317 62.9966C57.9523 64.676 55.8444 65.771 53.5548 66.1808L59.5493 72.1753C60.0983 72.7246 60.9889 72.7246 61.5378 72.1753L73.588 60.1255C74.1373 59.5761 74.1373 58.6855 73.588 58.1366ZM67.1874 51.4635C68.7727 49.8785 68.7731 47.2993 67.1895 45.7132L67.1841 45.7078C66.7993 45.3221 66.3409 45.0177 65.8361 44.8127C66.2682 43.7196 66.3594 41.871 64.9278 40.4391C64.9242 40.4354 64.9205 40.4313 64.9166 40.4277C64.5333 40.0459 64.0777 39.7444 63.5765 39.5408C64.0087 38.4483 64.1002 36.5993 62.6695 35.1682L62.6668 35.1657C62.2747 34.7734 61.8165 34.471 61.3174 34.2691C61.7496 33.176 61.8407 31.327 60.4092 29.8951C60.4088 29.8951 60.4088 29.8948 60.4084 29.8948L60.4074 29.8936C58.8213 28.3076 56.2409 28.3076 54.6549 29.8936L51.9885 32.5597L53.3519 33.9231C55.6239 36.1951 55.6239 39.8916 53.3523 42.1636C52.5877 42.9278 51.6483 43.453 50.6244 43.7031C50.372 44.7344 49.8409 45.6765 49.0892 46.4263C48.3257 47.1898 47.3878 47.7146 46.365 47.9651C46.1149 48.9875 45.5897 49.9258 44.8266 50.689C44.063 51.4525 43.1251 51.9773 42.1022 52.2278C41.8522 53.2502 41.327 54.1885 40.5638 54.952C39.4633 56.0521 38 56.6585 36.4436 56.6585C34.8872 56.6585 33.4239 56.0524 32.3233 54.9516L30.9599 53.5882L26.412 58.1366C25.8627 58.686 25.8627 59.5761 26.412 60.1255L38.4617 72.1753C39.0111 72.7246 39.9013 72.7243 40.4507 72.1753L49.0764 63.5499H51.5066C53.8247 63.5499 56.004 62.6468 57.6432 61.0081L67.1874 51.4635Z"
											fill="#96AE41" />
										<path
											d="M34.3122 52.9634C35.4892 54.1407 37.3979 54.1407 38.5749 52.9634C39.7522 51.7863 39.7522 49.8781 38.5749 48.7006C39.7522 49.8781 41.6606 49.8781 42.8379 48.7006C44.0149 47.5236 44.0149 45.615 42.8379 44.4379C44.0149 45.615 45.9237 45.615 47.1007 44.4379C48.2777 43.2609 48.2777 41.3522 47.1007 40.1752C48.2777 41.3522 50.1863 41.3522 51.3633 40.1752C52.5408 38.9979 52.5408 37.0895 51.3633 35.9121L45.353 29.9019C44.1761 28.7249 42.2674 28.7249 41.0904 29.9019C39.9134 31.0789 39.9134 32.9876 41.0904 34.1646L41.8433 34.9179C40.6663 33.7405 38.7576 33.7405 37.5806 34.9179C36.4037 36.0949 36.4037 38.0036 37.5806 39.1806L39.0869 40.6868C37.9098 39.5098 36.0012 39.5098 34.8242 40.6868C33.6467 41.8638 33.6467 43.7725 34.8242 44.9495L36.3303 46.4561C35.153 45.2788 33.2447 45.2788 32.0673 46.4561C30.8903 47.6331 30.8903 49.5414 32.0673 50.7188L34.3122 52.9634ZM52.666 27.9049C52.8727 27.6991 53.0921 27.5065 53.3229 27.3282L52.5004 26.5057C52.2918 26.297 52.0227 26.1593 51.7314 26.112C51.4402 26.0646 51.1414 26.1101 50.8773 26.242L47.4064 27.9775L49.9999 30.5714L52.666 27.9049Z"
											fill="#96AE41" />
									</svg>
								</div>

								<div class="ms-3">
									<h5>Collaboration avec des acteurs spécialisés</h5>
									<p>Travail conjoint avec le SPE, la CDAPH, et d’autres organismes.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="inscriotion" class="mt-5">
		<div class="container-fluid">
			<div class="row">

		
				<div class="col-md-4">
					<h5 class="text-blue fw-semibold">Inscription et suivi du parcours de formation</h5>
					<h2 class="my-3">Comment procéder pour s’inscrire à une formation adaptée ?</h2>
					<p class="mb-5">INITIA FORMATION s’inscrit dans une démarche d’inclusion globale visant à
						garantir
						l’égalité des chances pour les personnes en situation de handicap. En s’appuyant sur les
						principes
						de diversité et de soutien personnalisé, chaque étape du parcours est pensée pour s’adapter aux
						besoins spécifiques tout en respectant les normes internationales d’accessibilité.</p>
				</div>


				<div class="col-md-6 offset-md-2">
					<img src="/{{ directory }}/assets/images/image-handicap-2.png">
				</div>
				</div>



			<div class="row mt-5">
				<div class="col-md-3">
					<div class="inscri-step">
						<div>
							<svg width="100" height="100" viewBox="0 0 100 100" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<circle cx="50" cy="50" r="50" fill="#96AE41" />
								<path
									d="M49.28 64V42.04H45.48V38.92C48.16 38.92 49.28 38.44 51.32 36.2H53.36V64H49.28Z"
									fill="white" />
							</svg>

							<h5>Identification des<br/> besoins</h5>
							<p>Dès l’inscription, un diagnostic personnalisé est réalisé avec le référent handicap
								pour évaluer les besoins.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="inscri-step">
						<div>
							<svg width="100" height="100" viewBox="0 0 100 100" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<circle cx="50" cy="50" r="50" fill="#96AE41" />
								<path
									d="M45.76 64V62.36C45.76 58.52 46.72 55.48 49.8 50.88C52.04 47.48 52.76 45.56 52.76 42.72C52.76 40.48 52.28 39.64 51.28 39.64C50.16 39.64 49.64 40.8 49.6 44.52H45.76C45.8 38.64 47.48 36 51.44 36C55.12 36 56.96 38.28 56.96 42.4C56.96 45.92 56.32 48.56 53.36 52.88C51.16 56.16 50.08 58.24 49.68 60.36H56.96V64H45.76Z"
									fill="white" />
							</svg>

							<h5>Planification des <br/>adaptations</h5>
							<p>Les solutions pédagogiques et organisationnelles sont définies après concertation.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="inscri-step">
						<div>
							<svg width="100" height="100" viewBox="0 0 100 100" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<circle cx="50" cy="50" r="50" fill="#96AE41" />
								<path
									d="M51.32 64.4C47.36 64.4 45.76 61.8 45.68 55.76H49.56C49.56 59.6 50.04 60.76 51.32 60.76C52.64 60.76 53 59.64 53 56.56C53 52.64 52.32 51.36 50.16 51.36H49.16V47.72H49.88C51.72 47.72 52.68 46.6 52.68 43.32C52.68 40.72 52.28 39.64 51.24 39.64C50.08 39.64 49.72 40.72 49.68 43.72H45.84C45.96 38.16 47.8 36 51.32 36C55.12 36 56.8 38.4 56.8 43.32C56.8 46.24 55.88 48.24 53.8 49.24V49.36C56.2 50.36 57.2 52.64 57.2 56.28C57.2 61.8 55.36 64.4 51.32 64.4Z"
									fill="white" />
							</svg>

							<h5>Suivi pendant la <br/>formation</h5>
							<p>Le référent reste à disposition pour<br/> ajuster les dispositifs et <br/> accompagner le
								stagiaire.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="inscri-step">
						<div>
							<svg width="100" height="100" viewBox="0 0 100 100" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<circle cx="50" cy="50" r="50" fill="#96AE41" />
								<path
									d="M52.44 64V58.96H45.56V55.64L52.2 36.4H56.48V55.32H58.24V58.96H56.48V64H52.44ZM49.48 55.32H52.48L52.96 43.6H52.88L49.48 55.32Z"
									fill="white" />
							</svg>

							<h5>Retour et amélioration <br/>continue</h5>
							<p>À la fin du stage, le stagiaire partage <br/>son expérience pour améliorer <br/>les dispositifs
								futurs.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="pkhandicap" class="mt-5">
		<div class="container-fluid">
			<div class="pourquoi-handicap">
				<div class="row">
					<div class="col-md-5">
						<h5 class="text-blue fw-semibold">Référent handicap</h5>
						<h2 class="my-3">Référent handicap
							Pourquoi un référent handicap ?</h2>
						<h4 class="text-green my-5">Missions principales du référent handicap</h4>
						<div class="accordion handicap-accordion" id="accordionExample">
							<div class="accordion-item">
								<h2 class="accordion-header">
									<button class="accordion-button" type="button" data-bs-toggle="collapse"
										data-bs-target="#collapseOne" aria-expanded="true"
										aria-controls="collapseOne">
										Identification et accompagnement
									</button>
								</h2>
								<div id="collapseOne" class="accordion-collapse collapse show"
									data-bs-parent="#accordionExample">
									<div class="accordion-body">
										<ul>
											<li class="mb-3">Favoriser le repérage des personnes en situation de
												handicap dès
												l’accueil au centre de formation.</li>
											<li>Garantir une égalité de traitement tout au long des phases de
												recrutement, de sélection et de positionnement.</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="accordion-item">
								<h2 class="accordion-header">
									<button class="accordion-button collapsed" type="button"
										data-bs-toggle="collapse" data-bs-target="#collapseTwo"
										aria-expanded="false" aria-controls="collapseTwo">
										Développement de l’accessibilité pédagogique
									</button>
								</h2>
								<div id="collapseTwo" class="accordion-collapse collapse"
									data-bs-parent="#accordionExample">
									<div class="accordion-body">
										<ul>
											<li class="mb-3">Être force de proposition pour améliorer l’accessibilité pédagogique des formations.</li>
											<li>Identifier les problématiques et les axes de progrès afin de proposer des solutions adaptées.</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="accordion-item">
								<h2 class="accordion-header">
									<button class="accordion-button collapsed" type="button"
										data-bs-toggle="collapse" data-bs-target="#collapseThree"
										aria-expanded="false" aria-controls="collapseThree">
										Mobilisation des dispositifs d’appui
									</button>
								</h2>
								<div id="collapseThree" class="accordion-collapse collapse"
									data-bs-parent="#accordionExample">
									<div class="accordion-body">
										<ul>
											<li class="mb-3">Activer les ressources régionales comme Accea ou Epatech pour mettre en place des solutions de
												 compensation du handicap.</li>
									  
										</ul>
									</div>
								</div>
							</div>

							<div class="accordion-item">
								<h2 class="accordion-header">
									<button class="accordion-button collapsed" type="button"
										data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false"
										aria-controls="collapse4">
										Sensibilisation des parties prenantes
									</button>
								</h2>
								<div id="collapse4" class="accordion-collapse collapse"
									data-bs-parent="#accordionExample">
									<div class="accordion-body">
										<ul>
											<li class="mb-3">Sensibiliser et former tous les acteurs impliqués dans la formation : stagiaires, formateurs, employeurs, et financeurs.</li>
									  
										</ul>
									</div>
								</div>
							</div>

							<div class="accordion-item">
								<h2 class="accordion-header">
									<button class="accordion-button collapsed" type="button"
										data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false"
										aria-controls="collapse5">
										Orientation vers des solutions adaptées
									</button>
								</h2>
								<div id="collapse5" class="accordion-collapse collapse"
									data-bs-parent="#accordionExample">
									<div class="accordion-body">
										<ul>
											<li class="mb-3">Si les adaptations proposées ne suffisent pas, orienter le stagiaire vers des prestataires ou intervenants mieux adaptés pour répondre à ses besoins spécifiques.</li>
									  
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-5 offset-md-2 align-items-end d-flex">

						<div class="card-img-block">
							<img src="/{{ directory }}/assets/images/image-handicap-3.png">


							<div class="card-details mt-3 mt-md-0 ">
								<div class="d-flex align-items-center justify-content-between">
									<p>
										Au 06/01/2023, le référent handicap d’INITIA FORMATION est Faustine Davesne
									</p>
									<div>
										<svg width="80" height="80" viewBox="0 0 80 80" fill="none"
											xmlns="http://www.w3.org/2000/svg">
											<circle cx="40" cy="40" r="39" fill="#96AE41" stroke="#96AE41"
												stroke-width="2" />
											<path
												d="M37.1127 32.4557H48.4264M48.4264 32.4557V43.7694M48.4264 32.4557L31.4558 49.4262"
												stroke="white" stroke-width="1.5" stroke-linecap="round"
												stroke-linejoin="round" />
										</svg>
									</div>
								</div>
								<h5 class="mb-3">Pour la contacter</h5>
								<div class="row mb-3">
									<div class="col-md-5 col-7 order-2">
										<div class="rounded-pill">
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none"
												xmlns="http://www.w3.org/2000/svg">
												<path
													d="M21 19V17.3541C21 16.5363 20.5021 15.8008 19.7428 15.4971L17.7086 14.6835C16.7429 14.2971 15.6422 14.7156 15.177 15.646L15 16C15 16 12.5 15.5 10.5 13.5C8.5 11.5 8 9 8 9L8.35402 8.82299C9.28438 8.35781 9.70285 7.25714 9.31654 6.29136L8.50289 4.25722C8.19916 3.4979 7.46374 3 6.64593 3H5C3.89543 3 3 3.89543 3 5C3 13.8366 10.1634 21 19 21C20.1046 21 21 20.1046 21 19Z"
													stroke="#96AE41" stroke-width="1.5" stroke-linejoin="round" />
											</svg>

											07 70 21 86 33
										</div>
									</div>
									<div class="col-md-7 col-9 order-1 mb-3">
										<div class="rounded-pill">
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none"
												xmlns="http://www.w3.org/2000/svg">
												<path
													d="M6 8L9.7812 10.5208C11.1248 11.4165 12.8752 11.4165 14.2188 10.5208L18 8M6 21H18C20.2091 21 22 19.2091 22 17V7C22 4.79086 20.2091 3 18 3H6C3.79086 3 2 4.79086 2 7V17C2 19.2091 3.79086 21 6 21Z"
													stroke="#96AE41" stroke-width="1.5" stroke-linecap="round"
													stroke-linejoin="round" />
											</svg>
											contact@initia-formation.fr
										</div>
									</div>
								</div>
								<div class="d-flex justify-content-between align-items-center">
									<div>
										<p class="opacity-70">
											ou en envoyant un message depuis le formulaire de
										</p>
									</div>
									<div>
										<a href="" class="btn btn-contact">Contact <svg width="24" height="24"
												viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M14 16L18 12M18 12L14 8M18 12L6 12" stroke="white"
													stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
											</svg>
										</a>
									</div>
								</div>
							</div>

						</div>

					   
					   
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="principaux-acteur">
		<div class="container-fluid my-5">
			<div class="col-md-4">
				<h5 class="text-blue fw-semibold">Principaux acteurs du handicap</h5>
				<h2 class="my-3">Qui sont les principaux acteurs du handicap ?</h2>
				<p class="mb-5">Les acteurs suivants jouent un rôle clé dans l’insertion professionnelle des
					personnes en situation de handicap et peuvent vous accompagner dans vos démarches :</p>
			</div>
			<div class="row">
				<div class="col-md-3 order-4 order-md-0  mb-3">
					<div class="acteur-block">

						<img src="/{{ directory }}/assets/images/acteur-1.png" class="mb-2">
						<h5>Maison Départementale des Personnes Handicapées
						</h5>
						<p>Facilitent les démarches des personnes en situation de handicap, de leur famille et de
							tout autre personne</p>
					</div>
				</div>
				<div class="col-md-3 order-3  order-md-0  mb-3">
					<div class="acteur-block">
						<img src="/{{ directory }}/assets/images/acteur-2.png" class="mb-2">
						<h5>Maison Départementale des Personnes Handicapées

						</h5>
						<p>Favoriser l’insertion professionnelle et le maintien dans l’emploi dans le secteur privé.
						</p>
						<a href="#">Plus d’informations
							<svg width="25" height="24" viewBox="0 0 25 24" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<path d="M10.25 7L14.25 12L10.25 17" stroke="#96AE41" stroke-width="1.5"
									stroke-linecap="round" stroke-linejoin="round" />
							</svg>

						</a>
					</div>
				</div>
				<div class="col-md-3 order-2  order-md-0 mb-3">
					<div class="acteur-block">
						<img src="/{{ directory }}/assets/images/acteur-3.png" class="mb-2">
						<h5>Fonds pour l’Insertion des Personnes Handicapées dans la Fonction Publique

						</h5>
						<p>Soutenir l’insertion et le maintien dans l’emploi des personnes handicapées dans la
							fonction publique.
						</p>
						<a href="#">Plus d’informations
							<svg width="25" height="24" viewBox="0 0 25 24" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<path d="M10.25 7L14.25 12L10.25 17" stroke="#96AE41" stroke-width="1.5"
									stroke-linecap="round" stroke-linejoin="round" />
							</svg>

						</a>
					</div>
				</div>
				<div class="col-md-3 order-1  order-md-0  mb-3">
					<div class="acteur-block">
						<img src="/{{ directory }}/assets/images/acteur-4.png" class="mb-2">
						<h5>

							Cap Emploi

						</h5>
						<p>Accompagner les personnes handicapées vers l’emploi et soutenir leurs employeurs.

						</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="acteur-block-bottom">
						<div class="  h-100 d-flex align-items-center">
							<div class="row">
								<div class="col-md-4">
									<h5>Maison Départementale des Personnes Handicapées</h5>
								</div>
								<div class="col-md-8">
									<p class="m-0">Apporter une expertise ciblée et des solutions adaptées aux
										besoins
										spécifiques
										des personnes handicapées dans leur parcours professionnel ou de formation.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 mt-3 mt-md-0">
					<div class="acteur-block-bottom  ">
						<div class="h-100 d-flex align-items-center ">

							<div class=" row">
								<div class="col-md-4">
									<h5>SMS
										(Structures
										Médico-Sociales)</h5>
								</div>
								<div class="col-md-8">
									<p class="m-0">Fournir un soutien social et médical pour les personnes en
										situation
										de handicap, en s’appuyant sur des dispositifs d’accompagnement.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section id="start-parcours" class="my-5">
		<div class="container-fluid mt-5">
			<div class="parcours">
				<div class="row align-items-center">
					<div class="col-md-5">
						<h2>Commencez votre parcours d'apprentissage dès aujourd'hui</h2>
						<p>Libérez votre potentiel et embarquez pour un voyage d'apprentissage tout au long de la
							vie</p>
					</div>
					<div class="col-md-2 offset-md-5">
						<a href="#" class="btn btn-green-big">
							Découvrir les cours
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<path d="M14 16L18 12M18 12L14 8M18 12L6 12" stroke="white" stroke-width="1.5"
									stroke-linecap="round" stroke-linejoin="round" />
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
<!-- main Content-->