<!--- main content-->
<main>
	<section id="title-page">
		<div class="container-fluid">
			<ul class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li> Financements</li>
			</ul>
		</div>
	</section>
	<section class="pt-4">
		<div class="container-fluid  mb-4">

			<div class="row contact-content">
				<div class="col-md-6">
					<h2 class=" mt-4 mb-2 font-55">{{node.label}}</h2>
					<p>
						{{ content.field_financement_description }}
					</p>
					<img src="{{ file_url(content.field_financement_logo['#items'].entity.uri.value) }}" class="w-25">

				</div>

				<div class="col-md-5 offset-lg-1">
					<img src="{{ file_url(content.field_financement_header_image['#items'].entity.uri.value) }}" class="round-45">
				</div>
			</div>

		</div>
	</section>



	<section class="pt-4 pb-4">
		<div class="container-fluid ">
			{{ content.field_financer_ma_formation }}
		</div>
	</section>



	<section class="pt-4 pb-4">
		<div class="container-fluid ">
			{{ content.field_financer_cpf }}
		</div>
	</section>



	<section class="pt-4 pb-4">
		<div class="container-fluid ">
			{{ content.field_pour_les_demandeurs }}

		</div>

	</section>


	<section class="pt-4 pb-4">
		<div class="container-fluid ">
		{{ content.field_vous_etes_salarie }}

		</div>
	</section>

	<section class="pt-4 pb-4">
		<div class="container-fluid ">
		{{ content.field_financement_par_l_opco }}

		</div>
	</section>

	<section class="pt-4 pb-4">
		<div class="container-fluid">
		{{ content.field_pour_les_groupes }}

		</div>
	</section>
	{% if node.field_pour_se_faire_financer.value %}	
	<section id="start-parcours" class="my-5">
		<div class="container-fluid mt-5">
		{{ content.field_pour_se_faire_financer }}
		</div>
	</section>
	{% endif %}
</main>
<!-- main Content-->